h1{margin: 10px;
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 10px;

}
h3{margin-bottom: 1px;
  text-align: center;
}
body{padding: 50px;
  font-size: 25px;
}
div{border: 2px solid black;
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 10px;
  padding-bottom: 15px;
  text-decoration: solid;
}
a{color: blue;}
